.dark-button {
    position: absolute;
    bottom: 18px;
    z-index: 500;
    top: 52px;
    right: 35px;
}

// @media (pointer:coarse) {
//     .dark-button {
//         right: 46px !important;
//     }
// }

@media screen and (max-width: 600px) {
    .dark-button {
        right: 23px !important;
    }
}