<div id="imageBackground1" class="row zoom">
    <img id="imageBackground" [src]="homeCoverImage" alt="" />
    <div class="col-sm-12 col-md-6 py-2 d-flex justify-content-center align-items-center beyman-container">
        <form action="#" class="file-form">
            <input type="file" id="imgfile" (change)="setImage($event)" />
        </form>
        <div id="beyman" class="triangle">
            <img src="assets/images/beyman.png" alt="" />
        </div>
    </div>
    <div class="col-sm-12 col-md-6 d-flex py-2">
        <div class="card m-auto h-fit-content home-text">
            <h1 class="mb-0">{{h1}}</h1>
            <p [innerHTML]="p" class="mt-1"></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12" [style.padding]="isMobile? '0 37px !important' : 'initial'">
            <dynamic-divider class="headerDividers"></dynamic-divider>
            <h1 class="body-title">Conocimientos</h1>
            <dynamic-divider class="headerDividers"></dynamic-divider>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12 col-lg-6 mx-auto" style="position: relative;">
            @for (_skill of skills; track _skill.name; let idx = $index, e = $even) {
            <section #item [class.isMobile]="isMobile">
                <ng-container *ngTemplateOutlet="cardSkills; context: { idx: idx, _skill: _skill, last: idx === (skills.length -1)  }"></ng-container>
            </section>
            <ng-container>
                @if (!isMobile) {
                <dynamic-divider></dynamic-divider>
                }
            </ng-container>
            }
        </div>

        <div class="col-md-12 col-lg-6 d-none d-sm-none d-md-none d-lg-block">
            @for (_skill of skills; track _skill.name; let idx = $index, e = $even) {
            <section #image class="image-home-section" [class.last]="idx === (skills.length -1)"
                [style.pointer-events]="visible === idx || visible+1 === idx || visible-1 === idx? 'all': 'none'">
                <!-- @if (visible === idx || visible+1 === idx || visible-1 === idx) { -->
                <ng-container
                    *ngTemplateOutlet="cardSkillsImage; context: { _skill: _skill, class: 'full' }"></ng-container>
                <!-- } -->
            </section>
            }
        </div>
    </div>
</div>

<ng-template #cardSkills let-_skill="_skill" let-idx="idx" let-last="last">

    @if (!isMobile) {
    <div class="row m-0 grid-cards" content>
        <div class="col-12">
            <h1 class="card p-4 m-0 mb-3" style="z-index: 10;"
                [style.margin-top]=" isMobile? '100px !important': 'unset'">{{_skill.name}}
                <p style="font-size: 17px;margin: 5px 0 0 0;">
                    {{_skill.description}}
                </p>
            </h1>
        </div>
        @for (_item of _skill.list; track _item;) {
        <div class="col-6 col-sm-6 col-xl-6 p-0">
            <dynamic-card [class]="'d-flex justify-content-left align-items-center px-0'">
                <div content class="d-flex justify-content-left align-items-center">
                    @if (_item.icon) {
                    <dynamic-icon class="m-2 my-3" [type]="_item.typeIcon" [icon]="_item.icon"
                        [size]="40"></dynamic-icon>
                    }
                    <h4>{{_item.description}}</h4>
                </div>
            </dynamic-card>
        </div>
        }
    </div>
    } @else {
        <div class="row m-0 grid-cards mobileSection" content #mobileSection [class.last]="last">
        @if (idx > 0) {
            <dynamic-divider class="mobileDivider"></dynamic-divider>
        }
        <div class="row m-auto mt-0" style="transform: translateY(-90px);">
            <div class="col-12">
                <div class="d-sm-block d-md-block d-lg-none mobile-image-home mb-3" style="opacity: 1; height: 150px;">
                    <ng-container
                        *ngTemplateOutlet="cardSkillsImage; context: { _skill: _skill, class: 'align-items-end' }"></ng-container>
                </div>
                <h1 class="card p-4 m-0 mb-3" style="z-index: 10;"
                    [style.margin-top]=" isMobile? '100px !important': 'unset'">{{_skill.name}}
                    <p style="font-size: 17px;margin: 5px 0 0 0;">
                        {{_skill.description}}
                    </p>
                </h1>
            </div>
            @for (_item of _skill.list; track _item;) {
            <div class="col-6 col-sm-6 col-xl-6 p-0">
                <dynamic-card [class]="'d-flex justify-content-left align-items-center px-0'">
                    <div content class="d-flex justify-content-left align-items-center">
                        @if (_item.icon) {
                        <dynamic-icon class="m-2" style="margin: 18px 5px !important;" [type]="_item.typeIcon" [icon]="_item.icon"
                            [size]="40"></dynamic-icon>
                        }
                        <h4>{{_item.description}}</h4>
                    </div>
                </dynamic-card>
            </div>
            }
        </div>
    </div>
    }

</ng-template>

<ng-template #cardSkillsImage let-_skill="_skill" let-class="class">
    <div class="image-home {{class}}" style="background-image: url({{_skill.imageUrl}});">
        @if (_skill.thanksTo) { <dynamic-button [color]="'dark'" style="z-index: 3;" type="default" [icon]="'link'"
            [label]="_skill.thanksToName" (action)="goTo(_skill.thanksTo)"></dynamic-button>}
    </div>
</ng-template>


<div style="width: 10px; height: 100vh;"></div>