<div id="imageBackground1" class="row">
    <img id="imageBackground" [src]="homeCoverImage" alt="" />

    <div class="col-sm-12 col-md-6 d-flex justify-content-center align-items-center">
        <form action="#" style="position: absolute; top: 0;">
            <input type="file" id="imgfile" (change)="setImage($event)" />
        </form>
        <div id="beyman" class="triangle">
            <img src="assets/images/beyman-min.png" alt="" />
        </div>
    </div>

    <div class="col-sm-12 col-md-6 d-flex py-4">
        <div class="card m-auto h-fit-content home-text">
            <h1 class="mb-0">Hola, Soy Beyman</h1>
            <p [innerHTML]="p"></p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row ">
        <div class="col-md-12 col-lg-6 mx-auto" style="max-width: 600px;">
            @for (_skill of skills; track _skill.name; let idx = $index, e = $even) {

            <section #item>
                @if (idx === 0) {<h1 class="body-title">Conocimientos</h1>}

                <div class="d-sm-block d-md-block d-lg-none mobile-image-home">
                    <div class="image-home align-items-end" style="background-image: url({{_skill.imageUrl}});">
                        <h4 class="card p-2 m-0 mb-3">{{_skill.name}}</h4>
                    </div>
                </div>

                <h1 class="d-none d-sm-none d-md-none d-lg-block card p-2 m-0 mb-3">{{_skill.name}}</h1>

                <div class="row" content>
                    @for (_item of _skill.list; track _item;) {
                    <div class="col-sm-12 col-xl-6 p-0">
                        <dynamic-card [class]="'d-flex justify-content-left align-items-center px-0'">
                            <div content class="d-flex justify-content-left align-items-center">
                                <dynamic-icon class="m-2" [type]="_item.typeIcon" [icon]="_item.icon"
                                    [size]="40"></dynamic-icon>
                                <h4>{{_item.description}}</h4>
                            </div>
                        </dynamic-card>
                    </div>
                    }
                </div>
            </section>
            <ng-container>
                <!-- @if (idx < skills.length - 1) { -->
                    <dynamic-divider></dynamic-divider>
                <!-- } -->
            </ng-container>
            }
        </div>

        <div class="col-md-12 col-lg-6 d-none d-sm-none d-md-none d-lg-block">
            @for (_skill of skills; track _skill.name; let idx = $index, e = $even) {
            <section class="image-home-section">
                <div class="image-home full" style="background-image: url({{_skill.imageUrl}});">
                    <!-- <h1 class="card p-2 m-0">{{_skill.name}}</h1> -->
                </div>
            </section>
            }
        </div>
    </div>
</div>


<div style="width: 10px; height: 200vh;"></div>