// @import '../../../assets/typed';

@keyframes animateGrain {

    0%,
    100% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -10%)
    }

    20% {
        transform: translate(-15%, -20%)
    }

    30% {
        transform: translate(-5%, -10%)
    }

    40% {
        transform: translate(-15%, -20%)
    }

    50% {
        transform: translate(-5%, -10%)
    }

    60% {
        transform: translate(-15%, -20%)
    }

    70% {
        transform: translate(-5%, -10%)
    }

    80% {
        transform: translate(-15%, -20%)
    }

    90% {
        transform: translate(-5%, -10%)
    }

    100% {
        transform: translate(-15%, -20%)
    }

}

#imageBackground1 {
    form {
        z-index: 3;
        position: relative;
    }

    height: calc(85vh - 100px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 30px !important;
    position: relative;
    overflow: hidden;
    padding: 50px 10px;
    margin: 30px 3px;

    img#imageBackground {
        display: block;
        visibility: hidden;
        position: absolute;
        z-index: -10000;
        min-width: 3000px;
        width: 100vw;
    }

    #beyman {
        bottom: 0;
        width: 400px;
        height: 400px;
        border-radius: 100%;
        padding: 0;
        z-index: 5;
        position: relative;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;

        img {
            width: 100%;
            position: absolute;
            // bottom: -10px;
            // filter: drop-shadow(-19px 0px 25px #0000003d);
            // transform: rotate(10deg);
            bottom: 0;
        }
    }

    * {
        z-index: 2;
    }

    .home-text {
        padding: 15px 20px 30px;
        border-radius: 60px;
        left: 0;
        margin: 10px 0;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
    }

    body {
        display: grid;
        height: 100vh;
        place-items: center;
        width: 100%;
    }

    .home-text {
        display: block;
        font-family: monospace;
        font-size: 125%;

        h1,
        p {
            animation: show 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation-delay: 2s;
        }

        // >input,
        // >.h1 {
        //     display: block;
        //     appearance: none;
        //     width: 100%;
        //     height: 100%;
        //     background-color: transparent;
        //     border: none;
        // }

        // >.write {
        //     pointer-events: none;
        //     @include typed("Hola, Soy Beyman.",
        //         1.5,
        //         (caret-width: 5px, caret-space: 2px, iterations: 0, delay: 1.5));
        // }

        // >input {

        //     &:focus,
        //     &:active {
        //         +.write {
        //             display: none;
        //         }
        //     }
        // }
    }

}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.body-title {
    font-size: 57px;
}

.write::after {
    padding-right: 0px !important;
    border-right: 4px solid currentColor;
    border-radius: 10px !important;
    border-left: 3px solid currentColor;
    width: 0px !important;
    margin-left: 4px !important;
    transform: scale(0.8) !important;
}

.image-home {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    margin: 8px 0;
    border-radius: 40px;
    position: relative;
    overflow: hidden;

    &.full {
        height: 100vh;
        // box-shadow: rgba(0, 0, 0, 0.183) 0px -32px 33px -36px;
        outline: solid 20px var(--background);
    }
}

.image-home-section {
    position: sticky;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 6;
}


@media screen and (max-width: 1000px) {
    #imageBackground1>div {
        zoom: 0.85;
    }
}

@media screen and (max-width: 850px) {
    #imageBackground1>div {
        zoom: 0.75;
    }
}

@media screen and (max-width: 450px) {
    #imageBackground1>div {
        zoom: 0.7;
    }

    #beyman {
        zoom: 0.75;
    }
}

.image-home,
#imageBackground1,
#beyman,
.home-text {
    &::before {
        content: '';
        width: calc(100% + 30px);
        height: 100%;
        display: block;
        position: absolute;
        left: -15px;
        top: 0;
        z-index: 0;
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
        // animation: animateGrain 8s steps(10) infinite;
        height: 100%;
        width: 110%;
        opacity: 0.2;
    }
}


#beyman,
.home-text {
    background: var(--background-opacity-500) !important;
    color: var(--onSurface);
    backdrop-filter: blur(50px) !important;

    &::before {
        z-index: -1;
        opacity: 0.1;
    }
}