<div id="imageBackground1" class="row">
    <img id="imageBackground" [src]="homeCoverImage" alt="" />

    <img id="beyman" src="assets/images/beyman1.png" alt="" />

    <div class="col-sm-12 col-md-6">
        <form action="#">
            <input type="file" id="imgfile" (change)="setImage($event)" />
        </form>
    </div>

    <div class="home-text col-sm-12 col-md-6 opaque primary">
        <h1>¡Hola, Soy Beyman!</h1>

        <p>
            Un desarrollador Front End con
            <b>6 años de experiencia</b> en la industria
            creando aplicaciones <b>interactivas</b>,
            con una <b>experiencia de usuario excepcional</b>
            y <b>código de calidad</b>.
        </p>
    </div>
</div>