html,
body {
    background: var(--background) !important;
    color: var(--onBackground);
}

body {
    opacity: 0;

    &.loaded {
        opacity: 1;
        transition: all 900ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s !important;
        animation: slide-up-show 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: transparent;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(121, 121, 121, 0.363);
    width: 10px;
    height: 10px;
    border-radius: 10px;

    &:hover {
        background-color: rgba(121, 121, 121, 0.667);
    }
}

@media (pointer:coarse) {
    *::-webkit-scrollbar {
        width: 2px;
        height: 2px;
        background: transparent;
    }

    *::-webkit-scrollbar-thumb {
        width: 10px;
        height: 10px;
    }
}

* {
    scrollbar-gutter: stable both-edges;
}

router-outlet~* {
    min-height: calc(100vh - 40px);
    display: block;
    margin: 0px;
    padding: 10px;
    width: calc(100vw - 80px);
    margin: auto;
}

// body.dark #imageBackground1::before {
//     background: #00000082 !important;
// }

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-up-show {
    0% {
        transform: translateY(200px) scale(0.98);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

dynamic-card {
    .card {
        padding: 0 24px;
        margin: 10px;
    }
}

dynamic-divider {
    // position: absolute;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
}